<section class="container">
    <figure class="col-md-4">
    <img src="https://oceane.vtexassets.com/arquivos/ids/203328-1600-1600?v=638258142908330000&width=1600&height=1600&aspect=true" class="img-fluid rounded" alt="creme olhos">
    </figure>
    
    <section class="col-md-5">
        <article class="produto-detalhe">
        <h1>Creme Para Área Dos Olhos com Vitamina C - Vitamin C Eye Cream 25g</h1>
        <p>Esse Creme para Área dos Olhos possui Vitamina C, 
        Manteiga de Karité e Óleo de Jojoba, é um potente hidratante e ajuda suavizar linhas finas e olheiras. 
        De textura leve e rápida absorção, pode ser usado de dia e de noite</p>
        </article>
    
        <article class="produto-preco">
            <div class="produto-star"></div>
            <strong>
                R$35,00
                <span class="d-block"> Em até 12x sem juros</span>
            </strong>
            <div ></div>
    
            <form action="#">
                <div class="form-group">
                <label for="produto-quantidade">Quantidade</label>
                <select class="form-select" id="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                  <button type="submit" class="btn btn-success col-md-12">Comprar</button>
            </form>
    
        </article>
    </section>
    </section>